
html
  head
    title Adding
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/home') Home
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/fruitjuice/clients') Clients
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/produits') Produits
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/factures') Factures
    
    .card.bg-dark.text-white
      //- img.card-img(src='/images/market_background.jpg', alt='background')
      .card-img-overlay.col.col-lg-8.offset-lg-2
        form(method='post', id="facture" action=`/fruitjuice/facturecreate`)
          .form-row
            .form-group.col-md-3
              label(for='client') Client
              input#inputClient.form-control(type='text', name="client", value=" ", placeholder=`client`)
            .form-group.col-md-3
              label(for='datemission') Datemission
              input#inputDatemission.form-control(type='text', name="datemission", value=" ", placeholder=`datemission`)
            .form-group.col-md-3
              label(for='payer') Payer
              input#inputPayer.form-control(type='text',name="payer", value=" ",  placeholder=`payer`)
            .form-group.col-md-3
              label(for='datepaiment') Datepaiment
              input#inputDatepaiment.form-control(type='text',name="datepaiment", value=" ",  placeholder=`datepaiment`)
            .form-group.col-md-3
              label(for='prix') Prix
              input#inputPrix.form-control(type='text',name="prix", value=" ",  placeholder=`prix`)
            .form-group.col-md-3
              label(for='reference') Reference
              input#inputReference.form-control(type='text',name="reference", value=" ",  placeholder=`reference`)
            
            button.btn.btn-primary(type='submit', value="connected") Add
