html
  head

    //- Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    //- Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    link(rel='stylesheet', href='../../public/css/style.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    title Editing

  body
    //- navbar
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/home') Home
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/clients') Clients
      li.nav-item
        a.nav-link(href='http://localhost:3000/fruitjuice/produits') Produits
      li.nav-item
        a.nav-link.active(href='http://localhost:3000/fruitjuice/factures') Factures

    block facture
      form(id="facture" action=`/fruitjuice/factureupdate/${id}` method="post")
          input(type="text", name="client", value=" ", placeholder="Client")
          br
          input(type="text", name="datemission", value=" ", placeholder="Date emission")
          br
          input(type="text", name="payer", value=" ", placeholder="Payer")
          br
          input(type="text", name="datepaiment", value=" ", placeholder="Date paiement")
          br
          input(type="text", name="prix", value=" ", placeholder="Prix")
          br
          input(type="text", name="reference", value=" ", placeholder="Reference")
          br
          input(type="submit" value="Connected")